<div class="grid min-h-screen place-items-center">
  <div class="w-11/12 p-12 bg-white sm:w-8/12 md:w-1/2 lg:w-5/12">
    <h1 class="text-xl font-semibold">Hello there 👋, <span class="font-normal">please fill in your information to continue</span></h1>
    <form class="mt-6" [formGroup]="registerForm" (ngSubmit)="registerUser()" autocomplete="off">
      <label for="name" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Name</label>
      <input id="name" type="text" name="name" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" formControlName="name" />
      <app-alert [type]="'danger'" *ngIf="(formControls.name.touched || formSubmitted) && formControls.name.invalid">
        <ul>
          <li *ngIf="formControls.name.hasError('required')">Name is required</li>
        </ul>
      </app-alert>
      <label for="email" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">E-mail</label>
      <input id="email" type="email" name="email" autocomplete="email" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" formControlName="email" />
      <app-alert [type]="'danger'" *ngIf="(formControls.email.touched || formSubmitted) && formControls.email.invalid">
        <ul>
          <li *ngIf="formControls.email.hasError('required')">Email is required</li>
          <li *ngIf="formControls.email.hasError('email')">Please enter valid email</li>
        </ul>
      </app-alert>
      <input type="password" class="hidden">
      <label for="password" class="block mt-2 text-xs font-semibold text-gray-600 uppercase">Password</label>
      <input id="password" type="password" name="password" autocomplete="new-password" class="block w-full p-3 mt-2 text-gray-700 bg-gray-200 appearance-none focus:outline-none focus:bg-gray-300 focus:shadow-inner" formControlName="password" />
      <app-alert [type]="'danger'" *ngIf="(formControls.password.touched || formSubmitted) && formControls.password.invalid">
        <ul>
          <li *ngIf="formControls.password.hasError('required')">Password is required</li>
        </ul>
      </app-alert>
      <button type="submit" class="w-full py-3 mt-6 font-medium tracking-widest text-white uppercase bg-black shadow-lg focus:outline-none hover:bg-gray-900 hover:shadow-none">
        Sign up
      </button>
      <p class="inline-block mt-4 text-xs text-gray-500 cursor-pointer hover:text-black">Already registered? <a routerLink="/login">login here</a>.</p>
    </form>
  </div>
</div>
