<div class="mb-4 md:mr-2">
  <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
    Change to UPPERCASE
  </label>
  <input
    class="form-control focus:outline-none focus:shadow-outline"
    id="firstName"
    type="text"
    placeholder="First Name"
    [appChangeCase]="'uppercase'"
  />
</div>

<div class="mb-4 md:mr-2">
  <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
    Change to lowercase
  </label>
  <input
    class="form-control focus:outline-none focus:shadow-outline"
    id="lastName"
    type="text"
    placeholder="Last Name"
    [appChangeCase]="'lowercase'"
  />
</div>
